S3method(print,ci.rERR)
S3method(print,summary.rERR)
S3method(summary,rERR)
export(confint.rERR)
export(f_fit_linERR)
export(f_fit_linERR_all)
export(f_fit_linERR_ef)
export(f_fit_linERR_wf)
export(f_lrt)
export(f_parse_formula)
export(f_risksets)
export(f_to_event_table_ef_all)
export(f_to_event_table_wf_all)
import(stats4)
import(survival)
importFrom(dplyr,'%>%')
importFrom(dplyr,arrange)
importFrom(dplyr,group_by)
importFrom(dplyr,mutate)
importFrom(dplyr,summarize)
importFrom(plyr,count)
importFrom(stats,pchisq)
importFrom(stats,pnorm)
importFrom(stats,qchisq)
importFrom(stats,qnorm)
importFrom(stats,uniroot)
useDynLib(Rerr, llhood_linear_v3)
